
* {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
:root {
    --theme: #07b107;
    --b0: #1c2128;
    --b1: #22272e;
    --f1: #444c56;
    --text: #ffffff;
    color-scheme: dark;
}
body {
    background-color: var(--b1);
    color: var(--text);
    font-family: "Segoe UI", Arial, Sans-Serif;
}
a {
    color: var(--text);
}
a:not(:active) {
    text-decoration-color: var(--theme);
}
body>main {
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body>main>header {
    padding: 2rem 0;
}

body>main>header h1 {
    text-align: center;
}
body>main>article {
    flex-grow: 1;
    border-top: var(--f1) 1px solid;
    background-color: var(--b0);
    padding: 0 clamp(1rem, 10%, calc(100% - 1000px)) 3rem;
}
body>main>article hr {
    background-color: var(--f1);
    height: 1px;
    border: none;
    outline: none;
    margin: 1rem 0;
}
body>main>article h1,
body>main>article h2,
body>main>article h3,
body>main>article h4,
body>main>article h5,
body>main>article h6 {
    margin: 3rem 0 1rem;
    color: var(--text);
    text-decoration-color: var(--theme) !important;
}
body>main>article h1>a::before,
body>main>article h2>a::before,
body>main>article h3>a::before,
body>main>article h4>a::before,
body>main>article h5>a::before,
body>main>article h6>a::before {
    content: "# ";
    color: var(--theme);
}
body>main>article p {
    margin: 0.5rem 0;
}
body>main>article code {
    display: inline-block;
    background-color: var(--b1);
    border: var(--f1) solid 1px;
    padding: 0.1rem 0.3rem;
    margin: -0.1rem 0;
    border-radius: 0.3rem;
    font-family: monospace;
}
body>main>article code.block {
    display: block;
    margin: 1rem 0;
    padding-bottom: 0.4rem;
    white-space: pre;
}